// основные настройки
html {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

input,
button,
textarea {
  font-family: $font-family;
}

h1,
h2,
h3 {
  font-family: $font-family;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
}


:focus,
button:focus {
  outline: #f0f0f0 solid 2px;
  outline-offset: 2px;
}

body.using-mouse {

  &:focus,
  button:focus {
    outline: none;
  }

}
